<html lang="en">

<head>
    <meta charset="utf-8" />
    <style type="text/css">
        .div-content {
            position: absolute;
            transform: translate(-50%, -50%);
            padding: 25px;
            background-color: #ffffff;
            width: 100%;
            border-radius: 4px;
        }

        .div-title {
            padding: 15px 0;
            border-bottom: 1px solid #e5e4e4;
            margin-bottom: 1rem;
        }
        .div-title h4 {
            color: #226db8;
            margin: 0;
        }

        ​ .div-title::after {
            background: #e5e4e4 none repeat scroll 0 0;
            content: "";
            display: inline-block;
            height: 1px;
            width: 430px;
            z-index: -1;
        }

        ​ .div-title p {
            font-size: 30px;
            font-weight: bold;
            margin: 0;
            color: rgb(119, 192, 67);
        }

        .btn-reset {
            margin: 20px auto;
            padding: 10px 40px;
            background-color: rgb(119, 192, 67);
            border-radius: 4px;
            border: 0;
            font-size: 15px;
            color: #ffffff;
            font-weight: bold;
        }
        .btn-reset a {
            font-size: 15px;
            color: #ffffff;
            text-decoration: unset;
        }

        .btn-reset:hover,
        .btn-reset:focus,
        .btn-reset:active {
            outline: unset;
            margin: 20px auto;
            padding: 10px 40px;
            background-color: rgb(133, 198, 42);
            border-radius: 4px;
            border: 0;
            box-shadow: 0 2px 4px 0 rgba(119, 192, 67, 0.5);
            font-size: 15px;
            color: #ffffff;
            font-weight: bold;
        }

        .div-footer {
            margin-top: 20px;
            border-top: 1px solid #e5e4e4;
        }

        .div-footer p {
            font-size: 14px;
            color: #736d6d;
        }

        .text-center {
            text-align: center;
        }
        .hi-text {
            color: #226db8;
            margin: 0;
        }
    </style>
</head>

<body style="background-color: #f2f2f2">
    <div class="div-content">
        <div class="div-title ">
            <h4>HMGH</h4>
        </div>
        <div class='text-center'>
            <p style="font-size: 24px">Welcome to HMGH system.</p>

            <p class='hi-text'>Hi <%- name%>, You have successfully created an account!</p>
            <p>Thank you for signing up with HMGH! Complete your profile and start to create appointments. </p>
                <p>We hope you enjoy your time with us. Click the <b style="color: #74bb41">Active</b> to start with us.</p>
        </div>
        <div class="text-center">
            <button class="btn-reset"><a href='#'><%- forgot_code%></a></button>
        </div> 
        <div style="margin-top: 2rem">
            <p style="font-size: 14px"> Our Best,</p>
            <b>HMGH Team</b>
        </div>
        <div class="div-footer">
            <p>If you didn't request a active email, you can safely delete this email.</p>
        </div>
    </div>
</body>

</html>